body {
    background-image: url('https://saysmiss.files.wordpress.com/2022/03/sebastian-svenson-d2w-_1ljioq-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}