body {
    background-image: url('https://saysmiss.files.wordpress.com/2022/03/sebastian-svenson-d2w-_1ljioq-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.card:hover {
    background-color: #1e1e23; 
    box-shadow: 2px 4px 6px 4px rgba(0, 123, 255, 0.5);
}
.card {
    color: #fff;
    background-color: transparent;
    backdrop-filter: blur(10px);
    box-shadow: 2px 4px 6px 4px rgba(255, 255, 255, 0.5);
}
.btn {
    margin-top: 10px;
}